<a href="https://colab.research.google.com/github/raljun/data-analysis/blob/main/Apprentissage_level1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello colab')

In [ ]:
# import pandas
import pandas as pd

In [ ]:
# import the database
from google.colab import files
import io
uploaded=files.upload()

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['student-mat.csv']),sep=';')
df

In [ ]:
df.info()

In [ ]:
#taille 
df.shape

In [ ]:
#show only the columns
df.columns

In [ ]:
df.head()

In [ ]:
#show the last line 
df.tail()

In [ ]:
df1=df['age']
df1

In [ ]:
df1.mean()

In [ ]:
# affiche toutes les variables statistique de df1
df1.describe()

In [ ]:
df2=df[['age','sex','studytime','G1']]
df2.describe()

In [ ]:
df3=df['sex']
df3

In [ ]:
#pour connaitre le nombre de fille ou garcon (nbre d'iteration)
df3.value_counts()

# **Comment selectionne les lignes et colonnes avec loc et iloc**

1.   **Le iloc se base sur l' indice**
2.   **Le loc se base sur le label**

In [ ]:
# Affiche la ligne 
df.iloc[0]

In [ ]:
# afficher un ensemble de ligne
df.iloc[10:20]

In [ ]:
# Sélectionner des lignes et colonnes en utilisant loc et iloc (iloc [indice])
# [1] represente la colonne
df.iloc[10:20,[1]]

In [ ]:
df.iloc[10:20,[1,2,3]]

In [ ]:
# Sélectionner des lignes et colonnes en utilisant loc et iloc (loc [avec nom des colonnes])
df.loc[10:20,['age','sex']]

**Afficher uniquement les notes des filles (filtrage)**

In [ ]:
df4= (df['sex']=='F')
df4

In [ ]:
df.loc[df4]

In [ ]:
#Afficher uniquement les notes on fait appel a 'loc' ou 'iloc'
df.loc[df4,['G1']]

In [ ]:
df.iloc[0:395,[30]]

In [ ]:
#df5= (df['studytime']=='2')
df5=(df['sex']=='F') & (df['studytime']==2)
df.loc[df5]

In [ ]:
df.loc[df5,['studytime']]

In [ ]:
df.loc[df5,['sex','age','studytime','G1']]

In [ ]:
#afficher les notes des garcons peut importe le studytimes
df6=df.loc[-df4,['sex','age','studytime','G1']]
df6

##**Comment modifier les lignes et les colonnes**

In [ ]:
df.columns

####comment transformer tout les noms des colonnnes en majuscule

In [ ]:
df.columns=[x.upper() for x in df.columns]
df.columns

In [ ]:
df.head(10)

In [ ]:
###comment transformer tout les noms des colonnnes en miniscule
df.columns=[x.lower() for x in df.columns]
df

### Renomme les noms

In [ ]:
df.rename(columns={'g1':'Math','g2':'Physics','g3':'SVT'},inplace=True)
df.head(5)

###Comment change un element de la base de donnee

####par exemple on veut change l'age de la deuxieme ligne qui est actuellement 15 en 18

In [ ]:
df.loc[2,'age']=18
df.head(10)

In [ ]:
df.head(10)

###Comment change tout une colonne en majuscule

In [ ]:
df['guardian'].str.upper()

In [ ]:
df.head(10)

In [ ]:
df['guardian']=df['guardian'].str.upper()
df.head(10)

###Double les notes de Math

In [ ]:
def double(Math):
  return Math*2
df['Math']=df['Math'].apply(double)

In [ ]:
df.head(5)

###Change le F de sex en '0' et le M en '1'

In [ ]:
df['sex']=df['sex'].map({'F':0,'M':1})
df.head(10)